alembic==0.9.9
arrow==0.12.1
boto==2.48.0
boto3==1.7.25
botocore==1.10.25
bz2file==0.98
cached-property==1.4.0
cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
cssselect==1.0.3
cycler==0.10.0
defusedxml==0.5.0
Django==2.0.2
django-webpack-loader==0.6.0
djangorestframework==3.7.7
docker-pycreds==0.2.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
Flask==0.12.2
Flask-Login==0.4.1
Flask-Migrate==2.1.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gensim==3.4.0
google-api-python-client==1.6.7
google-auth==1.4.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
httplib2==0.11.3
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
kiwisolver==1.0.1
lxml==4.2.1
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.2.2
nltk==3.3
numpy==1.14.3
oauth2client==4.1.2
oauthlib==2.1.0
pandas==0.22.0
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycurl==7.43.0.1
pyparsing==2.2.0
pyquery==1.4.0
pyspider==0.3.10
python-dateutil==2.7.3
python-editor==1.0.3
pytz==2017.3
PyYAML==3.12
redis==2.10.6
requests==2.18.4
requests-oauthlib==0.8.0
rq==0.11.0
rq-dashboard==0.3.11
rsa==3.4.2
s3transfer==0.1.13
scipy==1.1.0
six==1.11.0
smart-open==1.5.7
SQLAlchemy==1.2.8
tblib==1.3.2
textblob==0.15.1
texttable==0.9.1
tornado==4.5.3
u-msgpack-python==2.5.0
uritemplate==3.0.0
urllib3==1.22
virtualenv==16.0.0
websocket-client==0.47.0
Werkzeug==0.14.1
WsgiDAV==2.3.0
WTForms==2.1
